@import "tailwindcss";

body {
    font-family: 'Satoshi', sans-serif;
    background: linear-gradient(135deg, #0f0f0f 0%, #1a0b2e 100%);
    min-height: 100vh;
    color: white;
}

.search-input:focus {
    outline: none;
}

.active-page {
    @apply font-medium text-zinc-200
}